<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit_land.web.prod.ProductMapper">
<resultMap id="result" type="hashmap">
  <id property="productId" column="PRODUCT_ID" />
  <result property="productName" column="PRODUCT_NAME"/>
  <result property="supplierId" column="SUPPLIER_ID"/>
  <result property="categoryId" column="CATEGORY_ID"/>
  <result property="unit" column="UNIT"/>
  <result property="price" column="PRICE"/>
  <result property="rownum" column="ROWNUM"/>
   
</resultMap>

	<select 
		id="selectProductList" 
		resultMap="result"
		parameterType="com.bit_land.web.cmm.Proxy">

		SELECT @ROWNUM:=@ROWNUM+1 AS ROWNUM, P.*
	    FROM PRODUCTS P, (SELECT @ROWNUM:=0)TMP
	    ORDER BY ROWNUM DESC
	    LIMIT #{startRow}, #{pageSize}
	    
	 </select>
	    
	 <select id="countProduct" resultType="int">
		SELECT COUNT(*) FROM PRODUCTS 
	</select>   
	
	
	<!-- //은영언니 -->
	 <select id="countserchProducts" resultType="int"
	 parameterType="com.bit_land.web.cmm.Proxy">
	 
	SELECT COUNT(*)
	FROM PRODUCTS P JOIN SUPPLIERS S ON P.SUPPLIER_ID LIKE S.SUPPLIER_ID
	WHERE P.PRODUCT_NAME LIKE #{key} 
	OR S.SUPPLIER_NAME LIKE #{key} 
	OR S.ADDRESS LIKE #{key}
	OR S.CITY LIKE #{key}

	</select>  
	
	
	<!-- //은영언니 -->
	 <select id="serchProducts" resultType="com.bit_land.web.prod.Product" 
	 parameterType="com.bit_land.web.cmm.Proxy">
	
		SELECT @ROWNUM:=@ROWNUM+1 AS ROWNUM,
		 P.PRODUCT_NAME productName
			,S.SUPPLIER_NAME supplierId,
			P.UNIT,
			P.PRICE
		FROM PRODUCTS P 
		JOIN SUPPLIERS S ON P.SUPPLIER_ID LIKE S.SUPPLIER_ID ,(SELECT @ROWNUM:=0)TMP
		WHERE P.PRODUCT_NAME LIKE #{key} 
		OR S.SUPPLIER_NAME LIKE #{key} 
		OR S.ADDRESS LIKE #{key}
		OR S.CITY LIKE #{key}
		ORDER BY ROWNUM DESC                    
		LIMIT #{startRow}, #{pageSize}                   
		 
		 
	</select>  
	    
</mapper>
